<?xml version="1.0" encoding="utf-8"?>

<Package
  xmlns="http://schemas.microsoft.com/appx/manifest/foundation/windows10"
  xmlns:mp="http://schemas.microsoft.com/appx/2014/phone/manifest"
  xmlns:uap="http://schemas.microsoft.com/appx/manifest/uap/windows10"
  xmlns:uap2="http://schemas.microsoft.com/appx/manifest/uap/windows10/2"
  xmlns:uap5="http://schemas.microsoft.com/appx/manifest/uap/windows10/5"
  xmlns:rescap="http://schemas.microsoft.com/appx/manifest/foundation/windows10/restrictedcapabilities"
  xmlns:iot="http://schemas.microsoft.com/appx/manifest/iot/windows10"
  IgnorableNamespaces="uap mp uap2 uap5 rescap iot">

  <Identity
    Name="1e17ea40-87af-45e2-865a-c2bd98036a67"
    Publisher="CN=ratch"
    Version="0.1.106.0" />

  <mp:PhoneIdentity PhoneProductId="1e17ea40-87af-45e2-865a-c2bd98036a67" PhonePublisherId="00000000-0000-0000-0000-000000000000"/>

  <Properties>
    <DisplayName>WoADialer</DisplayName>
    <PublisherDisplayName>ratch</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Dependencies>
    <TargetDeviceFamily Name="Windows.Universal" MinVersion="10.0.0.0" MaxVersionTested="10.0.0.0" />
  </Dependencies>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
      Executable="$targetnametoken$.exe"
      EntryPoint="WoADialer.App" xmlns:a="http://schemas.microsoft.com/appx/manifest/desktop/windows10/4">
      <uap:VisualElements
        DisplayName="WoADialer"
        Square150x150Logo="Assets\Square150x150Logo.png"
        Square44x44Logo="Assets\Square44x44Logo.png"
        Description="WoADialer"
        BackgroundColor="transparent">
        <uap:DefaultTile Wide310x150Logo="Assets\Wide310x150Logo.png" ShortName="Dialer" Square71x71Logo="Assets\SmallTile.png" Square310x310Logo="Assets\LargeTile.png">
          <uap:ShowNameOnTiles>
            <uap:ShowOn Tile="square150x150Logo"/>
            <uap:ShowOn Tile="square310x310Logo"/>
            <uap:ShowOn Tile="wide310x150Logo"/>
          </uap:ShowNameOnTiles>
        </uap:DefaultTile >
        <uap:SplashScreen Image="Assets\SplashScreen.png" />
        <uap:LockScreen BadgeLogo="Assets\BadgeLogo.png" Notification="badge"/>
      </uap:VisualElements>
      <Extensions>
        <uap:Extension Category="windows.protocol">
          <uap:Protocol Name="tel">
            <uap:DisplayName>WoA Dialer</uap:DisplayName>
          </uap:Protocol>
        </uap:Extension>
        <uap:Extension Category="windows.lockScreenCall"/>
        <uap:Extension Category="windows.lockScreen"/>
        <uap:Extension Category="windows.aboveLockScreen"/>
        <Extension Category="windows.backgroundTasks" EntryPoint="WoADialer.Model.BackgroungCallMonitor">
          <BackgroundTasks>
            <uap:Task Type="phoneCall" />
            <Task Type="systemEvent"/>
          </BackgroundTasks>
        </Extension>
      </Extensions>
    </Application>
  </Applications>
  <Extensions>
    <Extension Category="windows.activatableClass.inProcessServer">
      <InProcessServer>
        <Path>WoADialer.exe</Path>
        <ActivatableClass ActivatableClassId="WoADialer.Model.BackgroungCallMonitor" ThreadingModel="both"/>
      </InProcessServer>
    </Extension>
  </Extensions>

  <Capabilities>
    <uap:Capability Name="phoneCall" />
    <uap:Capability Name="contacts" />
    <rescap:Capability Name="phoneCallHistorySystem" />
    <rescap:Capability Name="phoneCallSystem" />
    <uap2:Capability Name="phoneCallHistoryPublic"/>
    <uap:Capability Name="voipCall"/>
  </Capabilities>
</Package>